/* text moving right to left at top */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-70%);
  }
}
.scrolling-text {
  display: inline-block;
  width: max-content; /* Important: makes the container exactly as wide as text */
  min-width: 100%;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;
}
/* .scroll-wrapper {
  overflow: hidden;
  width: 100vw; 
  position: relative;
} */

.scrolling-text:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .scrolling-text {
    animation-duration: 35s !important; /* Doubles the duration for laptops/desktops */
  }
}

/* fade effect in buddha's image */
    .fade-mask {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}